/* PADDING/MARGINS RESET: */
  * { padding: 0; margin: 0; }
  body { font-family: sans-serif; }

/* SPLASH: */

  .splash {
    position: fixed;
    top: 0px;

    height: 100%;
    width: 100%;
    background: #1E1E1D;
  }

  .splash-contain {
    height: 100%;
    width: 45%;
    margin: auto;
    text-align: center;
  }

  .name {
    padding: 20px 0 10px 0;

    font-family: Helvetica, sans-serif;
    font-size: 64px;
    color: #293233;
  }

  .sub-header {
    margin-bottom: 75px;

    font-family: Helvetica, sans-serif;
    font-size: 42px;
    color: #E8C57F;
  }

  .splash-image {
    height: 500px;
    width: 100%;

    background: url("hero.jpeg");
    background-position: center;
    background-size: contain;
    border: 1px solid #E8C57F;
  }

/* PORTFOLIO: */
  .portfolio {
    z-index: 10;
    position: absolute;
    top: 91%;

    height: 100%;
    width: 100%;
  }

  .port-contain {
    position: sticky;
    top: 0px;
    height: 950px;
    width: 100%;
    background: #1E1E1D;
  }

  .port-divider {
    z-index: 10;
    width: 100%;
    background: #293233;
  }

  .port-heading {
    box-sizing: border-box;
    z-index: 50;
    width: 50%;
    padding: 20px;

    font-family: Helvetica, sans-serif;
    font-size: 42px;
  }

/* CONTACT: */
  .contact {
    z-index: 20;
    position: absolute;
    top: 1720px;

    height: 100%;
    width: 100%;
  }

  .con-contain {
    /* position: sticky;
    top: 0px; */
    height: 950px;
    width: 100%;
  }

  .con-divider {
    width: 100%;
    background: red;
  }

  .con-heading {
    box-sizing: border-box;
    position: relative;
    left: 50%;
    width: 50%;
    padding: 20px;

    text-align: right;
    font-family: Helvetica, sans-serif;
    font-size: 42px;
  }

/* TO DO(?): */
  .streamline {
    display: flex;
    height: 90%;
    width: 100%;
  }

  section {
    width: 50%;
  }

  .right {
    background: #253031
  }

  .todo {
    background: teal;
  }
