/* PADDING/MARGINS RESET: */
  * { padding: 0; margin: 0; }
  body { font-family: sans-serif; }

/* SPLASH: */

  .splash {
    height: 855px;
    width: 100%;
    background: #1E1E1D;
  }

  .splash-contain {
    height: 100%;
    width: 45%;
    margin: auto;
    text-align: center;
  }

  .name {
    padding: 20px 0 10px 0;

    font-family: Helvetica, sans-serif;
    font-size: 64px;
    color: #293233;
  }

  .sub-header {
    margin-bottom: 75px;

    font-family: Helvetica, sans-serif;
    font-size: 42px;
    color: #E8C57F;
  }

  .splash-image {
    height: 500px;
    width: 100%;

    background: url("hero.jpeg");
    background-position: center;
    background-size: contain;
    border: 1px solid #E8C57F;
  }

/* DIVIDER: */
  .divider {
    height: 100px;
    width: 100%;
    background: #293233;
  }

/* PORTFOLIO: */
  .portfolio {
    height: 855px;
    width: 100%;
    background: #1E1E1D;
  }
