/* PADDING/MARGINS RESET: */
  * { padding: 0; margin: 0; }
  body { font-family: sans-serif; }

/* SPLASH: */

  .splash {
    height: 855px;
    width: 100%;
  }

  .splash-contain {
    height: 100%;
    width: 55%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
  }

  .name {
    padding: 20px;

    font-family: Shrikhand, cursive;
    font-size: 64px;
  }

  .sub-header {
    font-family: Shrikhand, cursive;
    font-size: 42px; 
  }

/* DIVIDER: */
  .divider {
    height: 100px;
    width: 100%;
    background: darkslategrey;
  }

/* PORTFOLIO: */
  .portfolio {
    height: 855px;
    width: 100%;
  }
