/* PADDING/MARGINS RESET: */
* { padding: 0; margin: 0; }
body { font-family: sans-serif; }

/* Structure: */

.left {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 22.5%;

  background: grey;
}

.right {
  position: fixed;
  top: 0px;
  left: 22.5%;
  height: 100%;
  width: 80%;

  background: darkslategrey;
}

/* Audioboard (left side): */

.nameplate {
  height: 300px;
  width: 80%;
  margin: 35px auto;

  background: white;
}

.soundboard {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 80%;
  margin: auto;
  background: white;
}

.controls {
  height: 50px;
  width: 100%;
  background: pink;
}

.slider {
  box-sizing: border-box;
  height: 450px;
  width: 33.3%;
  background: lightgrey;
  /* border: 1px solid black; */
}

/* slider components: */

.cntrl-label {
  height: 50px;
  margin-bottom: 25px;
  text-align: center;
  background: orange;
}

.slot {
  height: 300px;
  width: 15%;
  margin: auto;
  background: #2d2d2d;
  border-radius: 50px;
  text-align: center;
}

.knob {
  position: relative;
  left: -17px;

  width: 50px;
  height: 75px;
  background: pink;
}

.knob-top {
  top: 5px;
}

.knob-bottom {
  top: 220px; 
}

.light {
  height: 50px;
  width: 100%;
  margin-top: 25px;
  background: lightgreen;
}



div.slider:nth-child(2n+1) {
  background: white;
}
